<!DOCTYPE HTML>
<html>
  <head>
    <title>Flask/Gevent WebSocket Test</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
         if ("WebSocket" in window) {
            cam = new WebSocket("ws://" + document.domain + ":5000/camera");
            cam.onmessage = function (msg) {
               $("#cam").attr('src', 'data:image/jpg;base64,' + msg.data);
            };
            cam.onerror = function(e) {
               console.log(e);
            }
         } else {
             alert("WebSocket not supported");
         }
      });
    </script>
  </head>
  <body>
    <img id="cam" src=""/>
  </body>
</html> 
